<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oedu.sc.permission.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.oedu.sc.permission.po.Permission">
    <id column="oedu_permission_id" jdbcType="BIGINT" property="oeduPermissionId" />
    <result column="permission_id" jdbcType="VARCHAR" property="permissionId" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="parent_permission_id" jdbcType="VARCHAR" property="parentPermissionId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
  </resultMap>
  <sql id="Base_Column_List">
    oedu_permission_id, permission_id, permission_name, parent_permission_id, `status`, 
    update_time, update_user, create_time, create_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oedu_permission
    where oedu_permission_id = #{oeduPermissionId,jdbcType=BIGINT}
  </select>
    <select id="selectList" resultType="com.oedu.sc.permission.po.Permission">
      select * from oedu_permission
      where status =#{status,jdbcType=VARCHAR} order by permission_id
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oedu_permission
    where oedu_permission_id = #{oeduPermissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.oedu.sc.permission.po.Permission">
    insert into oedu_permission (oedu_permission_id, permission_id, permission_name, 
      parent_permission_id, `status`, update_time, 
      update_user, create_time, create_user
      )
    values (#{oeduPermissionId,jdbcType=BIGINT}, #{permissionId,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, 
      #{parentPermissionId,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oedu.sc.permission.po.Permission">
    insert into oedu_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oeduPermissionId != null">
        oedu_permission_id,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="parentPermissionId != null">
        parent_permission_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oeduPermissionId != null">
        #{oeduPermissionId,jdbcType=BIGINT},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="parentPermissionId != null">
        #{parentPermissionId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oedu.sc.permission.po.Permission">
    update oedu_permission
    <set>
      <if test="permissionId != null">
        permission_id = #{permissionId,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="parentPermissionId != null">
        parent_permission_id = #{parentPermissionId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
    </set>
    where oedu_permission_id = #{oeduPermissionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oedu.sc.permission.po.Permission">
    update oedu_permission
    set permission_id = #{permissionId,jdbcType=VARCHAR},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      parent_permission_id = #{parentPermissionId,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR}
    where oedu_permission_id = #{oeduPermissionId,jdbcType=BIGINT}
  </update>
</mapper>